.heading{
    text-align: center;
    padding: 7rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
}

#register {
    text-align: center;
}

#input-area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
}

.mb-3 {
    width: 49%;
    padding-left: 10%;
}

.form-label {
    font-size: 18pt;
}

.form-control {
    font-size: 13pt;
    width: 25em;
    text-transform: none;
}

.mb-4{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}